<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/afpaothellogame/css/global.css')}}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <header>
        <a href="{{ path('home')}}"><img id="logo" src="{{asset("bundles/afpaothellogame/images/4pions.jpg")}}"/></a>
        <h1 id="othello">Othello</h1>
        <div id="form">
            {%if app.request.session.get('oUser') is not null %}
                Connecté : {{ app.request.session.get('oUser').login}}
                <a href="{{ path('logout')}}"><button type="button" class="button">Déconnexion</button></a>
            {% else %}
                <a href="{{ path('login')}}"><button type="button" class="button">Connexion</button></a>
                <a href="{{ path('register')}}"><button type="button" class="button">New player</button></a>
            {% endif %}

        </div>
    </header>

    <section id="corps">
        {% block body %}
        {% endblock %}
    </section>

    <footer>
        <p>Copyright © 2016</p>
    </footer>

{% block javascripts %}{% endblock %}
<script type="text/javascript" src="{{asset ('bundles/afpaothellogame/js/jquery-2.2.4.min.js')}}"></script>
<script type="text/javascript" src="{{asset ('bundles/afpaothellogame/js/functions.js')}}"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</body>
</html>
